 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body{
    font-family: arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://wallpaper.forfun.com/fetch/d1/d197f3d63e273b6f5c105412b799eae6.jpeg');
    background-size: cover;
    background-position: center;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color:#fff;
    user-select: none;
}
.navigation a {
    position: relative; 
    font-size: 1.30rem;
    color: #faf9f9;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;


}
.mar{
    margin-right: 100px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100px;
    height: 3px;
    background: #fcf9f9;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:transform .5s;

}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}
.btnlogin_popup{
    margin-right: 20px;
    font-size: 1.20rem;
    font-weight: 900;
    background: transparent;
    padding: 2px 14px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}







.navigation .btnlogin.popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1cm;
    color: #f0e6e6;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;


    
}
.navigation .btnlogin.popup:hover{
    background-color: #fff;
    color: #f6f8fa
}
